body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-inline > * {
    margin: 0.1rem 0.5rem;
}

.colored-list > li:nth-child(odd) {
    background-color: whitesmoke;
}

.no-bullets-list {
    list-style: none;
    padding-left: 0;
}

.chemical {
    background-color: lightgreen;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.disease {
    background-color: lightsalmon;
    border-radius: 0.2rem;
    padding: 0.2rem;
}

.gene {
    background-color: #B695C0;
    border-radius: 0.2rem;
    padding: 0.2rem;
}
