.RelationsTable {

}

.RelationsTable-List {
    list-style: none;
    padding-left: 0;
}

.RelationsTable-Row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.RelationsTable-Cell {
    overflow: hidden;
}

.RelationsTable-Row-Header {
    font-weight: bold;
}
